In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [7]:
url = 'https://steamcharts.com/top'
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')
print(soup)

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Steam Charts - Tracking What's Played</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="An ongoing analysis of Steam's player numbers, seeing what's been played the most." name="description"/>
<meta content="4503599630058963" property="twitter:account_id"/>
<script async="" site="steam-charts" src="https://kumo.network-n.com/dist/app.js"></script>
<link href="/assets/style-9826f406.css" rel="stylesheet"/>
<script src="/assets/script-88db269a.js"></script>
<link href="/assets/favicon.ico" rel="shortcut icon"/>
<link href="/top/p.2" rel="next"/>
</head>
<body>
<div id="nn_skinl"></div>
<div id="nn_skinr"></div>
<div id="content-wrapper">
<div id="header">
<a href="/" id="logo"><span id="logo-steam">STEAM</span><span id="logo-charts">CHARTS</span></a>

		<i>An ongoing analysis of Steam's concurrent players.</i>
<div style="float: right">
<form action="/search/" class="inline" id="search" role="search">
<input name="q" placeholder="search games" type="text"/>
</form>
</div>
</div>
<h1 class="heading-float"><a href="/top">Top Games</a> <span>By Current Players</span></h1>
<div class="pagination-heading">
<a href="/top/p.2">Next</a>
	page
</div>
<div class="content">
<table class="common-table" id="top-games">
<thead>
<tr>
<th></th>
<th class="left">Name</th>
<th>Current Players</th>
<th class="period-col" id="topgames-chart-head">Last 30 Days</th>
<th class="period-col">Peak Players</th>
<th class="period-col">Hours Played</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1.</td>
<td class="game-name left">
<a href="/app/1623730">
						Palworld
					</a>
</td>
<td class="num">916106</td>
<td class="chart period-col" id="spark_1623730"></td>
<td class="num period-col peak-concurrent">975553</td>
<td class="num period-col player-hours">20708377</td>
</tr>
<tr>
<td>2.</td>
<td class="game-name left">
<a href="/app/730">
						Counter-Strike 2
					</a>
</td>
<td class="num">554431</td>
<td class="chart period-col" id="spark_730"></td>
<td class="num period-col peak-concurrent">1277907</td>
<td class="num period-col player-hours">590827390</td>
</tr>
<tr class="odd">
<td>3.</td>
<td class="game-name left">
<a href="/app/570">
						Dota 2
					</a>
</td>
<td class="num">360266</td>
<td class="chart period-col" id="spark_570"></td>
<td class="num period-col peak-concurrent">735855</td>
<td class="num period-col player-hours">323498588</td>
</tr>
<tr>
<td>4.</td>
<td class="game-name left">
<a href="/app/578080">
						PUBG: BATTLEGROUNDS
					</a>
</td>
<td class="num">213013</td>
<td class="chart period-col" id="spark_578080"></td>
<td class="num period-col peak-concurrent">587152</td>
<td class="num period-col player-hours">181360839</td>
</tr>
<tr class="odd">
<td>5.</td>
<td class="game-name left">
<a href="/app/1086940">
						Baldur's Gate 3
					</a>
</td>
<td class="num">193569</td>
<td class="chart period-col" id="spark_1086940"></td>
<td class="num period-col peak-concurrent">297492</td>
<td class="num period-col player-hours">125379505</td>
</tr>
<tr>
<td>6.</td>
<td class="game-name left">
<a href="/app/1172470">
						Apex Legends
					</a>
</td>
<td class="num">147861</td>
<td class="chart period-col" id="spark_1172470"></td>
<td class="num period-col peak-concurrent">344621</td>
<td class="num period-col player-hours">108081433</td>
</tr>
<tr class="odd">
<td>7.</td>
<td class="game-name left">
<a href="/app/1966720">
						Lethal Company
					</a>
</td>
<td class="num">135483</td>
<td class="chart period-col" id="spark_1966720"></td>
<td class="num period-col peak-concurrent">203632</td>
<td class="num period-col player-hours">79665522</td>
</tr>
<tr>
<td>8.</td>
<td class="game-name left">
<a href="/app/1938090">
						Call of Duty®
					</a>
</td>
<td class="num">111468</td>
<td class="chart period-col" id="spark_1938090"></td>
<td class="num period-col peak-concurrent">141643</td>
<td class="num period-col player-hours">69819305</td>
</tr>
<tr class="odd">
<td>9.</td>
<td class="game-name left">
<a href="/app/271590">
						Grand Theft Auto V
					</a>
</td>
<td class="num">110349</td>
<td class="chart period-col" id="spark_271590"></td>
<td class="num period-col peak-concurrent">273345</td>
<td class="num period-col player-hours">101222749</td>
</tr>
<tr>
<td>10.</td>
<td class="game-name left">
<a href="/app/1203220">
						NARAKA: BLADEPOINT
					</a>
</td>
<td class="num">108854</td>
<td class="chart period-col" id="spark_1203220"></td>
<td class="num period-col peak-concurrent">293291</td>
<td class="num period-col player-hours">74236229</td>
</tr>
<tr class="odd">
<td>11.</td>
<td class="game-name left">
<a href="/app/440">
						Team Fortress 2
					</a>
</td>
<td class="num">93794</td>
<td class="chart period-col" id="spark_440"></td>
<td class="num period-col peak-concurrent">215509</td>
<td class="num period-col player-hours">93835777</td>
</tr>
<tr>
<td>12.</td>
<td class="game-name left">
<a href="/app/582010">
						Monster Hunter: World
					</a>
</td>
<td class="num">85230</td>
<td class="chart period-col" id="spark_582010"></td>
<td class="num period-col peak-concurrent">162987</td>
<td class="num period-col player-hours">57036808</td>
</tr>
<tr class="odd">
<td>13.</td>
<td class="game-name left">
<a href="/app/431960">
						Wallpaper Engine
					</a>
</td>
<td class="num">83480</td>
<td class="chart period-col" id="spark_431960"></td>
<td class="num period-col peak-concurrent">132225</td>
<td class="num period-col player-hours">56737029</td>
</tr>
<tr>
<td>14.</td>
<td class="game-name left">
<a href="/app/230410">
						Warframe
					</a>
</td>
<td class="num">80596</td>
<td class="chart period-col" id="spark_230410"></td>
<td class="num period-col peak-concurrent">94593</td>
<td class="num period-col player-hours">46521803</td>
</tr>
<tr class="odd">
<td>15.</td>
<td class="game-name left">
<a href="/app/252490">
						Rust
					</a>
</td>
<td class="num">76117</td>
<td class="chart period-col" id="spark_252490"></td>
<td class="num period-col peak-concurrent">190886</td>
<td class="num period-col player-hours">69991111</td>
</tr>
<tr>
<td>16.</td>
<td class="game-name left">
<a href="/app/359550">
						Tom Clancy's Rainbow Six Siege
					</a>
</td>
<td class="num">67292</td>
<td class="chart period-col" id="spark_359550"></td>
<td class="num period-col peak-concurrent">80601</td>
<td class="num period-col player-hours">35013105</td>
</tr>
<tr class="odd">
<td>17.</td>
<td class="game-name left">
<a href="/app/1245620">
						ELDEN RING
					</a>
</td>
<td class="num">61255</td>
<td class="chart period-col" id="spark_1245620"></td>
<td class="num period-col peak-concurrent">99007</td>
<td class="num period-col player-hours">40584710</td>
</tr>
<tr>
<td>18.</td>
<td class="game-name left">
<a href="/app/2073850">
						THE FINALS
					</a>
</td>
<td class="num">58961</td>
<td class="chart period-col" id="spark_2073850"></td>
<td class="num period-col peak-concurrent">143477</td>
<td class="num period-col player-hours">57929172</td>
</tr>
<tr class="odd">
<td>19.</td>
<td class="game-name left">
<a href="/app/236390">
						War Thunder
					</a>
</td>
<td class="num">56378</td>
<td class="chart period-col" id="spark_236390"></td>
<td class="num period-col peak-concurrent">112141</td>
<td class="num period-col player-hours">50367092</td>
</tr>
<tr>
<td>20.</td>
<td class="game-name left">
<a href="/app/289070">
						Sid Meier's Civilization VI
					</a>
</td>
<td class="num">53763</td>
<td class="chart period-col" id="spark_289070"></td>
<td class="num period-col peak-concurrent">76337</td>
<td class="num period-col player-hours">35226886</td>
</tr>
<tr class="odd">
<td>21.</td>
<td class="game-name left">
<a href="/app/2195250">
						EA SPORTS FC™ 24
					</a>
</td>
<td class="num">49182</td>
<td class="chart period-col" id="spark_2195250"></td>
<td class="num period-col peak-concurrent">99591</td>
<td class="num period-col player-hours">32831866</td>
</tr>
<tr>
<td>22.</td>
<td class="game-name left">
<a href="/app/1085660">
						Destiny 2
					</a>
</td>
<td class="num">45167</td>
<td class="chart period-col" id="spark_1085660"></td>
<td class="num period-col peak-concurrent">61460</td>
<td class="num period-col player-hours">31586010</td>
</tr>
<tr class="odd">
<td>23.</td>
<td class="game-name left">
<a href="/app/413150">
						Stardew Valley
					</a>
</td>
<td class="num">44164</td>
<td class="chart period-col" id="spark_413150"></td>
<td class="num period-col peak-concurrent">58773</td>
<td class="num period-col player-hours">28581526</td>
</tr>
<tr>
<td>24.</td>
<td class="game-name left">
<a href="/app/304930">
						Unturned
					</a>
</td>
<td class="num">40858</td>
<td class="chart period-col" id="spark_304930"></td>
<td class="num period-col peak-concurrent">64089</td>
<td class="num period-col player-hours">40594563</td>
</tr>
<tr class="odd">
<td>25.</td>
<td class="game-name left">
<a href="/app/1174180">
						Red Dead Redemption 2
					</a>
</td>
<td class="num">40212</td>
<td class="chart period-col" id="spark_1174180"></td>
<td class="num period-col peak-concurrent">72729</td>
<td class="num period-col player-hours">32312891</td>
</tr>
</tbody>
</table>
<div class="pagination">
<a href="/top/p.2">Next</a>
		page
	</div>
</div>
<script>


	(function() {
		var topgames = d3.select(app.e('top-games'));
		var nums = topgames.selectAll('.num');
		nums.text(app.formatText);

		var charthead = topgames.select('#topgames-chart-head');
		var charts = topgames.selectAll('.chart');
		var playerhours = topgames.selectAll('.player-hours');

		var mouseoverFn = function(i) {
			for (var x = 0; x < charts[0].length; x++) {
				var c = charts[0][x];
				var p = playerhours[0][x];

				var ri = 0;
				if (!c.rects) {
					c.rects = d3.select(c).selectAll('rect');
				}
				c.rects.each(function() {
					if (i == ri) {
						this.style.opacity = 1.0;
					} else {
						this.style.opacity = 0.5;
					}
					ri++;
				});

				if (!p.originalText) {
					p.originalText = p.textContent;
				}
				p.textContent = app.format(c.datay[i]);
			}

			if (!charthead.originalText) {
				charthead.originalText = charthead.text();
			}
			charthead.text(new Date(c.datax[i]).toLocaleDateString());
			charthead.classed('highlight', true);
			playerhours.classed('highlight', true);
		};

		var mouseoutFn = function() {
			charts.each(function() {
				if (this.rects) {
					this.rects.each(function() {
						this.style.opacity = '';
					});
				}
			});
			playerhours.each(function() {
				if (this.originalText) {
					this.textContent = this.originalText;
				}
			});
			if (charthead.originalText) {
				charthead.text(charthead.originalText);
			}
			charthead.classed('highlight', true);
			charthead.classed('highlight', false);
			playerhours.classed('highlight', false);
		};

		var svg = null;
		var elem = null;

		var now = new Date("2024-01-21T05:59:50Z");
		var thirtyDays = new Date("2023-12-22T05:59:50Z");

			elem = app.e('spark_1623730');
			elem.datax = ["2024-01-19T00:00:00Z","2024-01-20T00:00:00Z","2024-01-21T00:00:00Z"];
			elem.datay = [350476,14833582,5524319];
			svg = d3.select(elem).append('svg');
			app.sparkbars(elem, svg, 150, 40, thirtyDays, now, 0,  14833582 ,
				elem.datax, elem.datay,
				mouseoverFn);
			svg.on('mouseleave', mouseoutFn);

			elem = app.e('spark_730');
			elem.datax = ["2023-12-22T00:00:00Z","2023-12-23T00:00:00Z","2023-12-24T00:00:00Z","2023-12-25T00:00:00Z","2023-12-26T00:00:00Z","2023-12-27T00:00:00Z","2023-12-28T00:00:00Z","2023-12-29T00:00:00Z","2023-12-30T00:00:00Z","2023-12-31T00:00:00Z","2024-01-01T00:00:00Z","2024-01-02T00:00:00Z","2024-01-03T00:00:00Z","2024-01-04T00:00:00Z","2024-01-05T00:00:00Z","2024-01-06T00:00:00Z","2024-01-07T00:00:00Z","2024-01-08T00:00:00Z","2024-01-09T00:00:00Z","2024-01-10T00:00:00Z","2024-01-11T00:00:00Z","2024-01-12T00:00:00Z","2024-01-13T00:00:00Z","2024-01-14T00:00:00Z","2024-01-15T00:00:00Z","2024-01-16T00:00:00Z","2024-01-17T00:00:00Z","2024-01-18T00:00:00Z","2024-01-19T00:00:00Z","2024-01-20T00:00:00Z","2024-01-21T00:00:00Z"];
			elem.datay = [19178300,20387487,18753102,18563988,19196457,20190726,20895671,21092021,20681965,19245122,20278678,20347084,20512326,21921313,21119093,22303666,21400944,19478727,18481446,19204662,19371245,20331536,21005996,21246042,18361050,18289167,15645625,16056207,16323640,17172809,3791295];
			svg = d3.select(elem).append('svg');
			app.sparkbars(elem, svg, 150, 40, thirtyDays, now, 0,  22303666 ,
				elem.datax, elem.datay,
				mouseoverFn);
			svg.on('mouseleave', mouseoutFn);

			elem = app.e('spark_570');
			elem.datax = ["2023-12-22T00:00:00Z","2023-12-23T00:00:00Z","2023-12-24T00:00:00Z","2023-12-25T00:00:00Z","2023-12-26T00:00:00Z","2023-12-27T00:00:00Z","2023-12-28T00:00:00Z","2023-12-29T00:00:00Z","2023-12-30T00:00:00Z","2023-12-31T00:00:00Z","2024-01-01T00:00:00Z","2024-01-02T00:00:00Z","2024-01-03T00:00:00Z","2024-01-04T00:00:00Z","2024-01-05T00:00:00Z","2024-01-06T00:00:00Z","2024-01-07T00:00:00Z","2024-01-08T00:00:00Z","2024-01-09T00:00:00Z","2024-01-10T00:00:00Z","2024-01-11T00:00:00Z","2024-01-12T00:00:00Z","2024-01-13T00:00:00Z","2024-01-14T00:00:00Z","2024-01-15T00:00:00Z","2024-01-16T00:00:00Z","2024-01-17T00:00:00Z","2024-01-18T00:00:00Z","2024-01-19T00:00:00Z","2024-01-20T00:00:00Z","2024-01-21T00:00:00Z"];
			elem.datay = [10472806,11775859,11522887,10125787,10342974,10419927,10549491,11023633,11540019,10249934,10893253,10912501,10614152,10759146,11112882,12067919,12092437,10489463,9565974,9566240,9695227,10202318,11805902,11818938,9720880,9802171,9579512,9954118,10380647,12018833,2422758];
			svg = d3.select(elem).append('svg');
			app.sparkbars(elem, svg, 150, 40, thirtyDays, now, 0,  12092437 ,
				elem.datax, elem.datay,
				mouseoverFn);
			svg.on('mouseleave', mouseoutFn);

			elem = app.e('spark_578080');
			elem.datax = ["2023-12-22T00:00:00Z","2023-12-23T00:00:00Z","2023-12-24T00:00:00Z","2023-12-25T00:00:00Z","2023-12-26T00:00:00Z","2023-12-27T00:00:00Z","2023-12-28T00:00:00Z","2023-12-29T00:00:00Z","2023-12-30T00:00:00Z","2023-12-31T00:00:00Z","2024-01-01T00:00:00Z","2024-01-02T00:00:00Z","2024-01-03T00:00:00Z","2024-01-04T00:00:00Z","2024-01-05T00:00:00Z","2024-01-06T00:00:00Z","2024-01-07T00:00:00Z","2024-01-08T00:00:00Z","2024-01-09T00:00:00Z","2024-01-10T00:00:00Z","2024-01-11T00:00:00Z","2024-01-12T00:00:00Z","2024-01-13T00:00:00Z","2024-01-14T00:00:00Z","2024-01-15T00:00:00Z","2024-01-16T00:00:00Z","2024-01-17T00:00:00Z","2024-01-18T00:00:00Z","2024-01-19T00:00:00Z","2024-01-20T00:00:00Z","2024-01-21T00:00:00Z"];
			elem.datay = [5643012,6323324,6125695,5369898,5423312,5785829,5652703,5943611,6424550,6004214,6577638,6063654,5652164,5703492,5919442,6651468,6654291,5633207,5452348,4841023,5995551,6150875,6914291,7001733,5863477,5930431,5847006,5816428,6107159,6779384,1109629];
			svg = d3.select(elem).append('svg');
			app.sparkbars(elem, svg, 150, 40, thirtyDays, now, 0,  7001733 ,
				elem.datax, elem.datay,
				mouseoverFn);
			svg.on('mouseleave', mouseoutFn);

			elem = app.e('spark_1086940');
			elem.datax = ["2023-12-22T00:00:00Z","2023-12-23T00:00:00Z","2023-12-24T00:00:00Z","2023-12-25T00:00:00Z","2023-12-26T00:00:00Z","2023-12-27T00:00:00Z","2023-12-28T00:00:00Z","2023-12-29T00:00:00Z","2023-12-30T00:00:00Z","2023-12-31T00:00:00Z","2024-01-01T00:00:00Z","2024-01-02T00:00:00Z","2024-01-03T00:00:00Z","2024-01-04T00:00:00Z","2024-01-05T00:00:00Z","2024-01-06T00:00:00Z","2024-01-07T00:00:00Z","2024-01-08T00:00:00Z","2024-01-09T00:00:00Z","2024-01-10T00:00:00Z","2024-01-11T00:00:00Z","2024-01-12T00:00:00Z","2024-01-13T00:00:00Z","2024-01-14T00:00:00Z","2024-01-15T00:00:00Z","2024-01-16T00:00:00Z","2024-01-17T00:00:00Z","2024-01-18T00:00:00Z","2024-01-19T00:00:00Z","2024-01-20T00:00:00Z","2024-01-21T00:00:00Z"];
			elem.datay = [3042193,3624190,3593742,3389514,3956069,4126698,4196486,4356214,4786465,4616933,4928103,4660661,4332805,4253114,4325774,5205284,5626852,4198934,3624145,3610060,3466557,3670135,4748778,5188611,4202314,3761499,3472847,3335117,3426955,4285994,1366462];
			svg = d3.select(elem).append('svg');
			app.sparkbars(elem, svg, 150, 40, thirtyDays, now, 0,  5626852 ,
				elem.datax, elem.datay,
				mouseoverFn);
			svg.on('mouseleave', mouseoutFn);

			elem = app.e('spark_1172470');
			elem.datax = ["2023-12-22T00:00:00Z","2023-12-23T00:00:00Z","2023-12-24T00:00:00Z","2023-12-25T00:00:00Z","2023-12-26T00:00:00Z","2023-12-27T00:00:00Z","2023-12-28T00:00:00Z","2023-12-29T00:00:00Z","2023-12-30T00:00:00Z","2023-12-31T00:00:00Z","2024-01-01T00:00:00Z","2024-01-02T00:00:00Z","2024-01-03T00:00:00Z","2024-01-04T00:00:00Z","2024-01-05T00:00:00Z","2024-01-06T00:00:00Z","2024-01-07T00:00:00Z","2024-01-08T00:00:00Z","2024-01-09T00:00:00Z","2024-01-10T00:00:00Z","2024-01-11T00:00:00Z","2024-01-12T00:00:00Z","2024-01-13T00:00:00Z","2024-01-14T00:00:00Z","2024-01-15T00:00:00Z","2024-01-16T00:00:00Z","2024-01-17T00:00:00Z","2024-01-18T00:00:00Z","2024-01-19T00:00:00Z","2024-01-20T00:00:00Z","2024-01-21T00:00:00Z"];
			elem.datay = [3343415,3810646,3575381,3060280,3179795,3363755,3398434,3660843,3896817,3560903,3507015,3302435,3258932,3231133,3530715,4016994,3944111,3289256,3247622,3923047,3556280,3769587,4171119,4110255,3507830,3448670,3509994,3478816,3573787,4020849,832717];
			svg = d3.select(elem).append('svg');
			app.sparkbars(elem, svg, 150, 40, thirtyDays, now, 0,  4171119 ,
				elem.datax, elem.datay,
				mouseoverFn);
			svg.on('mouseleave', mouseoutFn);

			elem = app.e('spark_1966720');
			elem.datax = ["2023-12-22T00:00:00Z","2023-12-23T00:00:00Z","2023-12-24T00:00:00Z","2023-12-25T00:00:00Z","2023-12-26T00:00:00Z","2023-12-27T00:00:00Z","2023-12-28T00:00:00Z","2023-12-29T00:00:00Z","2023-12-30T00:00:00Z","2023-12-31T00:00:00Z","2024-01-01T00:00:00Z","2024-01-02T00:00:00Z","2024-01-03T00:00:00Z","2024-01-04T00:00:00Z","2024-01-05T00:00:00Z","2024-01-06T00:00:00Z","2024-01-07T00:00:00Z","2024-01-08T00:00:00Z","2024-01-09T00:00:00Z","2024-01-10T00:00:00Z","2024-01-11T00:00:00Z","2024-01-12T00:00:00Z","2024-01-13T00:00:00Z","2024-01-14T00:00:00Z","2024-01-15T00:00:00Z","2024-01-16T00:00:00Z","2024-01-17T00:00:00Z","2024-01-18T00:00:00Z","2024-01-19T00:00:00Z","2024-01-20T00:00:00Z","2024-01-21T00:00:00Z"];
			elem.datay = [2516851,2715894,2376642,2124219,2678531,2841036,2809789,2868730,3049329,2673628,2763618,2940484,2671184,2610943,2764553,3335144,3389829,2459549,2236987,2146508,2029674,2357185,3101704,3159178,2678392,2395839,2167800,2043757,2216175,2711475,830895];
			svg = d3.select(elem).append('svg');
			app.sparkbars(elem, svg, 150, 40, thirtyDays, now, 0,  3389829 ,
				elem.datax, elem.datay,
				mouseoverFn);
			svg.on('mouseleave', mouseoutFn);

			elem = app.e('spark_1938090');
			elem.datax = ["2023-12-22T00:00:00Z","2023-12-23T00:00:00Z","2023-12-24T00:00:00Z","2023-12-25T00:00:00Z","2023-12-26T00:00:00Z","2023-12-27T00:00:00Z","2023-12-28T00:00:00Z","2023-12-29T00:00:00Z","2023-12-30T00:00:00Z","2023-12-31T00:00:00Z","2024-01-01T00:00:00Z","2024-01-02T00:00:00Z","2024-01-03T00:00:00Z","2024-01-04T00:00:00Z","2024-01-05T00:00:00Z","2024-01-06T00:00:00Z","2024-01-07T00:00:00Z","2024-01-08T00:00:00Z","2024-01-09T00:00:00Z","2024-01-10T00:00:00Z","2024-01-11T00:00:00Z","2024-01-12T00:00:00Z","2024-01-13T00:00:00Z","2024-01-14T00:00:00Z","2024-01-15T00:00:00Z","2024-01-16T00:00:00Z","2024-01-17T00:00:00Z","2024-01-18T00:00:00Z","2024-01-19T00:00:00Z","2024-01-20T00:00:00Z","2024-01-21T00:00:00Z"];
			elem.datay = [2468741,2714592,2591823,2275114,2471863,2488340,2472822,2431798,2563649,2386294,2323896,2280520,2192330,2184030,2226569,2584468,2678081,2075218,1887058,1906456,1905035,2056686,2487523,2551471,2121763,2010785,1838804,1964889,2245356,2650260,783071];
			svg = d3.select(elem).append('svg');
			app.sparkbars(elem, svg, 150, 40, thirtyDays, now, 0,  2714592 ,
				elem.datax, elem.datay,
				mouseoverFn);

In [8]:
soup.find('table')

<table class="common-table" id="top-games">
<thead>
<tr>
<th></th>
<th class="left">Name</th>
<th>Current Players</th>
<th class="period-col" id="topgames-chart-head">Last 30 Days</th>
<th class="period-col">Peak Players</th>
<th class="period-col">Hours Played</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1.</td>
<td class="game-name left">
<a href="/app/1623730">
						Palworld
					</a>
</td>
<td class="num">916106</td>
<td class="chart period-col" id="spark_1623730"></td>
<td class="num period-col peak-concurrent">975553</td>
<td class="num period-col player-hours">20708377</td>
</tr>
<tr>
<td>2.</td>
<td class="game-name left">
<a href="/app/730">
						Counter-Strike 2
					</a>
</td>
<td class="num">554431</td>
<td class="chart period-col" id="spark_730"></td>
<td class="num period-col peak-concurrent">1277907</td>
<td class="num period-col player-hours">590827390</td>
</tr>
<tr class="odd">
<td>3.</td>
<td class="game-name left">
<a href="/app/570">
						Dota 2
					</a>
</td>
<td class="num">360266</td>
<td class="chart period-col" id="spark_570"></td>
<td class="num period-col peak-concurrent">735855</td>
<td class="num period-col player-hours">323498588</td>
</tr>
<tr>
<td>4.</td>
<td class="game-name left">
<a href="/app/578080">
						PUBG: BATTLEGROUNDS
					</a>
</td>
<td class="num">213013</td>
<td class="chart period-col" id="spark_578080"></td>
<td class="num period-col peak-concurrent">587152</td>
<td class="num period-col player-hours">181360839</td>
</tr>
<tr class="odd">
<td>5.</td>
<td class="game-name left">
<a href="/app/1086940">
						Baldur's Gate 3
					</a>
</td>
<td class="num">193569</td>
<td class="chart period-col" id="spark_1086940"></td>
<td class="num period-col peak-concurrent">297492</td>
<td class="num period-col player-hours">125379505</td>
</tr>
<tr>
<td>6.</td>
<td class="game-name left">
<a href="/app/1172470">
						Apex Legends
					</a>
</td>
<td class="num">147861</td>
<td class="chart period-col" id="spark_1172470"></td>
<td class="num period-col peak-concurrent">344621</td>
<td class="num period-col player-hours">108081433</td>
</tr>
<tr class="odd">
<td>7.</td>
<td class="game-name left">
<a href="/app/1966720">
						Lethal Company
					</a>
</td>
<td class="num">135483</td>
<td class="chart period-col" id="spark_1966720"></td>
<td class="num period-col peak-concurrent">203632</td>
<td class="num period-col player-hours">79665522</td>
</tr>
<tr>
<td>8.</td>
<td class="game-name left">
<a href="/app/1938090">
						Call of Duty®
					</a>
</td>
<td class="num">111468</td>
<td class="chart period-col" id="spark_1938090"></td>
<td class="num period-col peak-concurrent">141643</td>
<td class="num period-col player-hours">69819305</td>
</tr>
<tr class="odd">
<td>9.</td>
<td class="game-name left">
<a href="/app/271590">
						Grand Theft Auto V
					</a>
</td>
<td class="num">110349</td>
<td class="chart period-col" id="spark_271590"></td>
<td class="num period-col peak-concurrent">273345</td>
<td class="num period-col player-hours">101222749</td>
</tr>
<tr>
<td>10.</td>
<td class="game-name left">
<a href="/app/1203220">
						NARAKA: BLADEPOINT
					</a>
</td>
<td class="num">108854</td>
<td class="chart period-col" id="spark_1203220"></td>
<td class="num period-col peak-concurrent">293291</td>
<td class="num period-col player-hours">74236229</td>
</tr>
<tr class="odd">
<td>11.</td>
<td class="game-name left">
<a href="/app/440">
						Team Fortress 2
					</a>
</td>
<td class="num">93794</td>
<td class="chart period-col" id="spark_440"></td>
<td class="num period-col peak-concurrent">215509</td>
<td class="num period-col player-hours">93835777</td>
</tr>
<tr>
<td>12.</td>
<td class="game-name left">
<a href="/app/582010">
						Monster Hunter: World
					</a>
</td>
<td class="num">85230</td>
<td class="chart period-col" id="spark_582010"></td>
<td class="num period-col peak-concurrent">162987</td>
<td class="num period-col player-hours">57036808</td>
</tr>
<tr class="odd">
<td>13.</td>
<td class="game-name left">
<a href="/app/431960">
						Wallpaper Engine
					</a>
</td>
<td class="num">83480</td>
<td class="chart period-col" id="spark_431960"></td>
<td class="num period-col peak-concurrent">132225</td>
<td class="num period-col player-hours">56737029</td>
</tr>
<tr>
<td>14.</td>
<td class="game-name left">
<a href="/app/230410">
						Warframe
					</a>
</td>
<td class="num">80596</td>
<td class="chart period-col" id="spark_230410"></td>
<td class="num period-col peak-concurrent">94593</td>
<td class="num period-col player-hours">46521803</td>
</tr>
<tr class="odd">
<td>15.</td>
<td class="game-name left">
<a href="/app/252490">
						Rust
					</a>
</td>
<td class="num">76117</td>
<td class="chart period-col" id="spark_252490"></td>
<td class="num period-col peak-concurrent">190886</td>
<td class="num period-col player-hours">69991111</td>
</tr>
<tr>
<td>16.</td>
<td class="game-name left">
<a href="/app/359550">
						Tom Clancy's Rainbow Six Siege
					</a>
</td>
<td class="num">67292</td>
<td class="chart period-col" id="spark_359550"></td>
<td class="num period-col peak-concurrent">80601</td>
<td class="num period-col player-hours">35013105</td>
</tr>
<tr class="odd">
<td>17.</td>
<td class="game-name left">
<a href="/app/1245620">
						ELDEN RING
					</a>
</td>
<td class="num">61255</td>
<td class="chart period-col" id="spark_1245620"></td>
<td class="num period-col peak-concurrent">99007</td>
<td class="num period-col player-hours">40584710</td>
</tr>
<tr>
<td>18.</td>
<td class="game-name left">
<a href="/app/2073850">
						THE FINALS
					</a>
</td>
<td class="num">58961</td>
<td class="chart period-col" id="spark_2073850"></td>
<td class="num period-col peak-concurrent">143477</td>
<td class="num period-col player-hours">57929172</td>
</tr>
<tr class="odd">
<td>19.</td>
<td class="game-name left">
<a href="/app/236390">
						War Thunder
					</a>
</td>
<td class="num">56378</td>
<td class="chart period-col" id="spark_236390"></td>
<td class="num period-col peak-concurrent">112141</td>
<td class="num period-col player-hours">50367092</td>
</tr>
<tr>
<td>20.</td>
<td class="game-name left">
<a href="/app/289070">
						Sid Meier's Civilization VI
					</a>
</td>
<td class="num">53763</td>
<td class="chart period-col" id="spark_289070"></td>
<td class="num period-col peak-concurrent">76337</td>
<td class="num period-col player-hours">35226886</td>
</tr>
<tr class="odd">
<td>21.</td>
<td class="game-name left">
<a href="/app/2195250">
						EA SPORTS FC™ 24
					</a>
</td>
<td class="num">49182</td>
<td class="chart period-col" id="spark_2195250"></td>
<td class="num period-col peak-concurrent">99591</td>
<td class="num period-col player-hours">32831866</td>
</tr>
<tr>
<td>22.</td>
<td class="game-name left">
<a href="/app/1085660">
						Destiny 2
					</a>
</td>
<td class="num">45167</td>
<td class="chart period-col" id="spark_1085660"></td>
<td class="num period-col peak-concurrent">61460</td>
<td class="num period-col player-hours">31586010</td>
</tr>
<tr class="odd">
<td>23.</td>
<td class="game-name left">
<a href="/app/413150">
						Stardew Valley
					</a>
</td>
<td class="num">44164</td>
<td class="chart period-col" id="spark_413150"></td>
<td class="num period-col peak-concurrent">58773</td>
<td class="num period-col player-hours">28581526</td>
</tr>
<tr>
<td>24.</td>
<td class="game-name left">
<a href="/app/304930">
						Unturned
					</a>
</td>
<td class="num">40858</td>
<td class="chart period-col" id="spark_304930"></td>
<td class="num period-col peak-concurrent">64089</td>
<td class="num period-col player-hours">40594563</td>
</tr>
<tr class="odd">
<td>25.</td>
<td class="game-name left">
<a href="/app/1174180">
						Red Dead Redemption 2
					</a>
</td>
<td class="num">40212</td>
<td class="chart period-col" id="spark_1174180"></td>
<td class="num period-col peak-concurrent">72729</td>
<td class="num period-col player-hours">32312891</td>
</tr>
</tbody>
</table>

In [9]:
soup.find_all('table')[0]

<table class="common-table" id="top-games">
<thead>
<tr>
<th></th>
<th class="left">Name</th>
<th>Current Players</th>
<th class="period-col" id="topgames-chart-head">Last 30 Days</th>
<th class="period-col">Peak Players</th>
<th class="period-col">Hours Played</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1.</td>
<td class="game-name left">
<a href="/app/1623730">
						Palworld
					</a>
</td>
<td class="num">916106</td>
<td class="chart period-col" id="spark_1623730"></td>
<td class="num period-col peak-concurrent">975553</td>
<td class="num period-col player-hours">20708377</td>
</tr>
<tr>
<td>2.</td>
<td class="game-name left">
<a href="/app/730">
						Counter-Strike 2
					</a>
</td>
<td class="num">554431</td>
<td class="chart period-col" id="spark_730"></td>
<td class="num period-col peak-concurrent">1277907</td>
<td class="num period-col player-hours">590827390</td>
</tr>
<tr class="odd">
<td>3.</td>
<td class="game-name left">
<a href="/app/570">
						Dota 2
					</a>
</td>
<td class="num">360266</td>
<td class="chart period-col" id="spark_570"></td>
<td class="num period-col peak-concurrent">735855</td>
<td class="num period-col player-hours">323498588</td>
</tr>
<tr>
<td>4.</td>
<td class="game-name left">
<a href="/app/578080">
						PUBG: BATTLEGROUNDS
					</a>
</td>
<td class="num">213013</td>
<td class="chart period-col" id="spark_578080"></td>
<td class="num period-col peak-concurrent">587152</td>
<td class="num period-col player-hours">181360839</td>
</tr>
<tr class="odd">
<td>5.</td>
<td class="game-name left">
<a href="/app/1086940">
						Baldur's Gate 3
					</a>
</td>
<td class="num">193569</td>
<td class="chart period-col" id="spark_1086940"></td>
<td class="num period-col peak-concurrent">297492</td>
<td class="num period-col player-hours">125379505</td>
</tr>
<tr>
<td>6.</td>
<td class="game-name left">
<a href="/app/1172470">
						Apex Legends
					</a>
</td>
<td class="num">147861</td>
<td class="chart period-col" id="spark_1172470"></td>
<td class="num period-col peak-concurrent">344621</td>
<td class="num period-col player-hours">108081433</td>
</tr>
<tr class="odd">
<td>7.</td>
<td class="game-name left">
<a href="/app/1966720">
						Lethal Company
					</a>
</td>
<td class="num">135483</td>
<td class="chart period-col" id="spark_1966720"></td>
<td class="num period-col peak-concurrent">203632</td>
<td class="num period-col player-hours">79665522</td>
</tr>
<tr>
<td>8.</td>
<td class="game-name left">
<a href="/app/1938090">
						Call of Duty®
					</a>
</td>
<td class="num">111468</td>
<td class="chart period-col" id="spark_1938090"></td>
<td class="num period-col peak-concurrent">141643</td>
<td class="num period-col player-hours">69819305</td>
</tr>
<tr class="odd">
<td>9.</td>
<td class="game-name left">
<a href="/app/271590">
						Grand Theft Auto V
					</a>
</td>
<td class="num">110349</td>
<td class="chart period-col" id="spark_271590"></td>
<td class="num period-col peak-concurrent">273345</td>
<td class="num period-col player-hours">101222749</td>
</tr>
<tr>
<td>10.</td>
<td class="game-name left">
<a href="/app/1203220">
						NARAKA: BLADEPOINT
					</a>
</td>
<td class="num">108854</td>
<td class="chart period-col" id="spark_1203220"></td>
<td class="num period-col peak-concurrent">293291</td>
<td class="num period-col player-hours">74236229</td>
</tr>
<tr class="odd">
<td>11.</td>
<td class="game-name left">
<a href="/app/440">
						Team Fortress 2
					</a>
</td>
<td class="num">93794</td>
<td class="chart period-col" id="spark_440"></td>
<td class="num period-col peak-concurrent">215509</td>
<td class="num period-col player-hours">93835777</td>
</tr>
<tr>
<td>12.</td>
<td class="game-name left">
<a href="/app/582010">
						Monster Hunter: World
					</a>
</td>
<td class="num">85230</td>
<td class="chart period-col" id="spark_582010"></td>
<td class="num period-col peak-concurrent">162987</td>
<td class="num period-col player-hours">57036808</td>
</tr>
<tr class="odd">
<td>13.</td>
<td class="game-name left">
<a href="/app/431960">
						Wallpaper Engine
					</a>
</td>
<td class="num">83480</td>
<td class="chart period-col" id="spark_431960"></td>
<td class="num period-col peak-concurrent">132225</td>
<td class="num period-col player-hours">56737029</td>
</tr>
<tr>
<td>14.</td>
<td class="game-name left">
<a href="/app/230410">
						Warframe
					</a>
</td>
<td class="num">80596</td>
<td class="chart period-col" id="spark_230410"></td>
<td class="num period-col peak-concurrent">94593</td>
<td class="num period-col player-hours">46521803</td>
</tr>
<tr class="odd">
<td>15.</td>
<td class="game-name left">
<a href="/app/252490">
						Rust
					</a>
</td>
<td class="num">76117</td>
<td class="chart period-col" id="spark_252490"></td>
<td class="num period-col peak-concurrent">190886</td>
<td class="num period-col player-hours">69991111</td>
</tr>
<tr>
<td>16.</td>
<td class="game-name left">
<a href="/app/359550">
						Tom Clancy's Rainbow Six Siege
					</a>
</td>
<td class="num">67292</td>
<td class="chart period-col" id="spark_359550"></td>
<td class="num period-col peak-concurrent">80601</td>
<td class="num period-col player-hours">35013105</td>
</tr>
<tr class="odd">
<td>17.</td>
<td class="game-name left">
<a href="/app/1245620">
						ELDEN RING
					</a>
</td>
<td class="num">61255</td>
<td class="chart period-col" id="spark_1245620"></td>
<td class="num period-col peak-concurrent">99007</td>
<td class="num period-col player-hours">40584710</td>
</tr>
<tr>
<td>18.</td>
<td class="game-name left">
<a href="/app/2073850">
						THE FINALS
					</a>
</td>
<td class="num">58961</td>
<td class="chart period-col" id="spark_2073850"></td>
<td class="num period-col peak-concurrent">143477</td>
<td class="num period-col player-hours">57929172</td>
</tr>
<tr class="odd">
<td>19.</td>
<td class="game-name left">
<a href="/app/236390">
						War Thunder
					</a>
</td>
<td class="num">56378</td>
<td class="chart period-col" id="spark_236390"></td>
<td class="num period-col peak-concurrent">112141</td>
<td class="num period-col player-hours">50367092</td>
</tr>
<tr>
<td>20.</td>
<td class="game-name left">
<a href="/app/289070">
						Sid Meier's Civilization VI
					</a>
</td>
<td class="num">53763</td>
<td class="chart period-col" id="spark_289070"></td>
<td class="num period-col peak-concurrent">76337</td>
<td class="num period-col player-hours">35226886</td>
</tr>
<tr class="odd">
<td>21.</td>
<td class="game-name left">
<a href="/app/2195250">
						EA SPORTS FC™ 24
					</a>
</td>
<td class="num">49182</td>
<td class="chart period-col" id="spark_2195250"></td>
<td class="num period-col peak-concurrent">99591</td>
<td class="num period-col player-hours">32831866</td>
</tr>
<tr>
<td>22.</td>
<td class="game-name left">
<a href="/app/1085660">
						Destiny 2
					</a>
</td>
<td class="num">45167</td>
<td class="chart period-col" id="spark_1085660"></td>
<td class="num period-col peak-concurrent">61460</td>
<td class="num period-col player-hours">31586010</td>
</tr>
<tr class="odd">
<td>23.</td>
<td class="game-name left">
<a href="/app/413150">
						Stardew Valley
					</a>
</td>
<td class="num">44164</td>
<td class="chart period-col" id="spark_413150"></td>
<td class="num period-col peak-concurrent">58773</td>
<td class="num period-col player-hours">28581526</td>
</tr>
<tr>
<td>24.</td>
<td class="game-name left">
<a href="/app/304930">
						Unturned
					</a>
</td>
<td class="num">40858</td>
<td class="chart period-col" id="spark_304930"></td>
<td class="num period-col peak-concurrent">64089</td>
<td class="num period-col player-hours">40594563</td>
</tr>
<tr class="odd">
<td>25.</td>
<td class="game-name left">
<a href="/app/1174180">
						Red Dead Redemption 2
					</a>
</td>
<td class="num">40212</td>
<td class="chart period-col" id="spark_1174180"></td>
<td class="num period-col peak-concurrent">72729</td>
<td class="num period-col player-hours">32312891</td>
</tr>
</tbody>
</table>

In [10]:
soup.find('table', class_ = 'common-table')

<table class="common-table" id="top-games">
<thead>
<tr>
<th></th>
<th class="left">Name</th>
<th>Current Players</th>
<th class="period-col" id="topgames-chart-head">Last 30 Days</th>
<th class="period-col">Peak Players</th>
<th class="period-col">Hours Played</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1.</td>
<td class="game-name left">
<a href="/app/1623730">
						Palworld
					</a>
</td>
<td class="num">916106</td>
<td class="chart period-col" id="spark_1623730"></td>
<td class="num period-col peak-concurrent">975553</td>
<td class="num period-col player-hours">20708377</td>
</tr>
<tr>
<td>2.</td>
<td class="game-name left">
<a href="/app/730">
						Counter-Strike 2
					</a>
</td>
<td class="num">554431</td>
<td class="chart period-col" id="spark_730"></td>
<td class="num period-col peak-concurrent">1277907</td>
<td class="num period-col player-hours">590827390</td>
</tr>
<tr class="odd">
<td>3.</td>
<td class="game-name left">
<a href="/app/570">
						Dota 2
					</a>
</td>
<td class="num">360266</td>
<td class="chart period-col" id="spark_570"></td>
<td class="num period-col peak-concurrent">735855</td>
<td class="num period-col player-hours">323498588</td>
</tr>
<tr>
<td>4.</td>
<td class="game-name left">
<a href="/app/578080">
						PUBG: BATTLEGROUNDS
					</a>
</td>
<td class="num">213013</td>
<td class="chart period-col" id="spark_578080"></td>
<td class="num period-col peak-concurrent">587152</td>
<td class="num period-col player-hours">181360839</td>
</tr>
<tr class="odd">
<td>5.</td>
<td class="game-name left">
<a href="/app/1086940">
						Baldur's Gate 3
					</a>
</td>
<td class="num">193569</td>
<td class="chart period-col" id="spark_1086940"></td>
<td class="num period-col peak-concurrent">297492</td>
<td class="num period-col player-hours">125379505</td>
</tr>
<tr>
<td>6.</td>
<td class="game-name left">
<a href="/app/1172470">
						Apex Legends
					</a>
</td>
<td class="num">147861</td>
<td class="chart period-col" id="spark_1172470"></td>
<td class="num period-col peak-concurrent">344621</td>
<td class="num period-col player-hours">108081433</td>
</tr>
<tr class="odd">
<td>7.</td>
<td class="game-name left">
<a href="/app/1966720">
						Lethal Company
					</a>
</td>
<td class="num">135483</td>
<td class="chart period-col" id="spark_1966720"></td>
<td class="num period-col peak-concurrent">203632</td>
<td class="num period-col player-hours">79665522</td>
</tr>
<tr>
<td>8.</td>
<td class="game-name left">
<a href="/app/1938090">
						Call of Duty®
					</a>
</td>
<td class="num">111468</td>
<td class="chart period-col" id="spark_1938090"></td>
<td class="num period-col peak-concurrent">141643</td>
<td class="num period-col player-hours">69819305</td>
</tr>
<tr class="odd">
<td>9.</td>
<td class="game-name left">
<a href="/app/271590">
						Grand Theft Auto V
					</a>
</td>
<td class="num">110349</td>
<td class="chart period-col" id="spark_271590"></td>
<td class="num period-col peak-concurrent">273345</td>
<td class="num period-col player-hours">101222749</td>
</tr>
<tr>
<td>10.</td>
<td class="game-name left">
<a href="/app/1203220">
						NARAKA: BLADEPOINT
					</a>
</td>
<td class="num">108854</td>
<td class="chart period-col" id="spark_1203220"></td>
<td class="num period-col peak-concurrent">293291</td>
<td class="num period-col player-hours">74236229</td>
</tr>
<tr class="odd">
<td>11.</td>
<td class="game-name left">
<a href="/app/440">
						Team Fortress 2
					</a>
</td>
<td class="num">93794</td>
<td class="chart period-col" id="spark_440"></td>
<td class="num period-col peak-concurrent">215509</td>
<td class="num period-col player-hours">93835777</td>
</tr>
<tr>
<td>12.</td>
<td class="game-name left">
<a href="/app/582010">
						Monster Hunter: World
					</a>
</td>
<td class="num">85230</td>
<td class="chart period-col" id="spark_582010"></td>
<td class="num period-col peak-concurrent">162987</td>
<td class="num period-col player-hours">57036808</td>
</tr>
<tr class="odd">
<td>13.</td>
<td class="game-name left">
<a href="/app/431960">
						Wallpaper Engine
					</a>
</td>
<td class="num">83480</td>
<td class="chart period-col" id="spark_431960"></td>
<td class="num period-col peak-concurrent">132225</td>
<td class="num period-col player-hours">56737029</td>
</tr>
<tr>
<td>14.</td>
<td class="game-name left">
<a href="/app/230410">
						Warframe
					</a>
</td>
<td class="num">80596</td>
<td class="chart period-col" id="spark_230410"></td>
<td class="num period-col peak-concurrent">94593</td>
<td class="num period-col player-hours">46521803</td>
</tr>
<tr class="odd">
<td>15.</td>
<td class="game-name left">
<a href="/app/252490">
						Rust
					</a>
</td>
<td class="num">76117</td>
<td class="chart period-col" id="spark_252490"></td>
<td class="num period-col peak-concurrent">190886</td>
<td class="num period-col player-hours">69991111</td>
</tr>
<tr>
<td>16.</td>
<td class="game-name left">
<a href="/app/359550">
						Tom Clancy's Rainbow Six Siege
					</a>
</td>
<td class="num">67292</td>
<td class="chart period-col" id="spark_359550"></td>
<td class="num period-col peak-concurrent">80601</td>
<td class="num period-col player-hours">35013105</td>
</tr>
<tr class="odd">
<td>17.</td>
<td class="game-name left">
<a href="/app/1245620">
						ELDEN RING
					</a>
</td>
<td class="num">61255</td>
<td class="chart period-col" id="spark_1245620"></td>
<td class="num period-col peak-concurrent">99007</td>
<td class="num period-col player-hours">40584710</td>
</tr>
<tr>
<td>18.</td>
<td class="game-name left">
<a href="/app/2073850">
						THE FINALS
					</a>
</td>
<td class="num">58961</td>
<td class="chart period-col" id="spark_2073850"></td>
<td class="num period-col peak-concurrent">143477</td>
<td class="num period-col player-hours">57929172</td>
</tr>
<tr class="odd">
<td>19.</td>
<td class="game-name left">
<a href="/app/236390">
						War Thunder
					</a>
</td>
<td class="num">56378</td>
<td class="chart period-col" id="spark_236390"></td>
<td class="num period-col peak-concurrent">112141</td>
<td class="num period-col player-hours">50367092</td>
</tr>
<tr>
<td>20.</td>
<td class="game-name left">
<a href="/app/289070">
						Sid Meier's Civilization VI
					</a>
</td>
<td class="num">53763</td>
<td class="chart period-col" id="spark_289070"></td>
<td class="num period-col peak-concurrent">76337</td>
<td class="num period-col player-hours">35226886</td>
</tr>
<tr class="odd">
<td>21.</td>
<td class="game-name left">
<a href="/app/2195250">
						EA SPORTS FC™ 24
					</a>
</td>
<td class="num">49182</td>
<td class="chart period-col" id="spark_2195250"></td>
<td class="num period-col peak-concurrent">99591</td>
<td class="num period-col player-hours">32831866</td>
</tr>
<tr>
<td>22.</td>
<td class="game-name left">
<a href="/app/1085660">
						Destiny 2
					</a>
</td>
<td class="num">45167</td>
<td class="chart period-col" id="spark_1085660"></td>
<td class="num period-col peak-concurrent">61460</td>
<td class="num period-col player-hours">31586010</td>
</tr>
<tr class="odd">
<td>23.</td>
<td class="game-name left">
<a href="/app/413150">
						Stardew Valley
					</a>
</td>
<td class="num">44164</td>
<td class="chart period-col" id="spark_413150"></td>
<td class="num period-col peak-concurrent">58773</td>
<td class="num period-col player-hours">28581526</td>
</tr>
<tr>
<td>24.</td>
<td class="game-name left">
<a href="/app/304930">
						Unturned
					</a>
</td>
<td class="num">40858</td>
<td class="chart period-col" id="spark_304930"></td>
<td class="num period-col peak-concurrent">64089</td>
<td class="num period-col player-hours">40594563</td>
</tr>
<tr class="odd">
<td>25.</td>
<td class="game-name left">
<a href="/app/1174180">
						Red Dead Redemption 2
					</a>
</td>
<td class="num">40212</td>
<td class="chart period-col" id="spark_1174180"></td>
<td class="num period-col peak-concurrent">72729</td>
<td class="num period-col player-hours">32312891</td>
</tr>
</tbody>
</table>

In [11]:
table = soup.find_all('table')[0]
table

<table class="common-table" id="top-games">
<thead>
<tr>
<th></th>
<th class="left">Name</th>
<th>Current Players</th>
<th class="period-col" id="topgames-chart-head">Last 30 Days</th>
<th class="period-col">Peak Players</th>
<th class="period-col">Hours Played</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1.</td>
<td class="game-name left">
<a href="/app/1623730">
						Palworld
					</a>
</td>
<td class="num">916106</td>
<td class="chart period-col" id="spark_1623730"></td>
<td class="num period-col peak-concurrent">975553</td>
<td class="num period-col player-hours">20708377</td>
</tr>
<tr>
<td>2.</td>
<td class="game-name left">
<a href="/app/730">
						Counter-Strike 2
					</a>
</td>
<td class="num">554431</td>
<td class="chart period-col" id="spark_730"></td>
<td class="num period-col peak-concurrent">1277907</td>
<td class="num period-col player-hours">590827390</td>
</tr>
<tr class="odd">
<td>3.</td>
<td class="game-name left">
<a href="/app/570">
						Dota 2
					</a>
</td>
<td class="num">360266</td>
<td class="chart period-col" id="spark_570"></td>
<td class="num period-col peak-concurrent">735855</td>
<td class="num period-col player-hours">323498588</td>
</tr>
<tr>
<td>4.</td>
<td class="game-name left">
<a href="/app/578080">
						PUBG: BATTLEGROUNDS
					</a>
</td>
<td class="num">213013</td>
<td class="chart period-col" id="spark_578080"></td>
<td class="num period-col peak-concurrent">587152</td>
<td class="num period-col player-hours">181360839</td>
</tr>
<tr class="odd">
<td>5.</td>
<td class="game-name left">
<a href="/app/1086940">
						Baldur's Gate 3
					</a>
</td>
<td class="num">193569</td>
<td class="chart period-col" id="spark_1086940"></td>
<td class="num period-col peak-concurrent">297492</td>
<td class="num period-col player-hours">125379505</td>
</tr>
<tr>
<td>6.</td>
<td class="game-name left">
<a href="/app/1172470">
						Apex Legends
					</a>
</td>
<td class="num">147861</td>
<td class="chart period-col" id="spark_1172470"></td>
<td class="num period-col peak-concurrent">344621</td>
<td class="num period-col player-hours">108081433</td>
</tr>
<tr class="odd">
<td>7.</td>
<td class="game-name left">
<a href="/app/1966720">
						Lethal Company
					</a>
</td>
<td class="num">135483</td>
<td class="chart period-col" id="spark_1966720"></td>
<td class="num period-col peak-concurrent">203632</td>
<td class="num period-col player-hours">79665522</td>
</tr>
<tr>
<td>8.</td>
<td class="game-name left">
<a href="/app/1938090">
						Call of Duty®
					</a>
</td>
<td class="num">111468</td>
<td class="chart period-col" id="spark_1938090"></td>
<td class="num period-col peak-concurrent">141643</td>
<td class="num period-col player-hours">69819305</td>
</tr>
<tr class="odd">
<td>9.</td>
<td class="game-name left">
<a href="/app/271590">
						Grand Theft Auto V
					</a>
</td>
<td class="num">110349</td>
<td class="chart period-col" id="spark_271590"></td>
<td class="num period-col peak-concurrent">273345</td>
<td class="num period-col player-hours">101222749</td>
</tr>
<tr>
<td>10.</td>
<td class="game-name left">
<a href="/app/1203220">
						NARAKA: BLADEPOINT
					</a>
</td>
<td class="num">108854</td>
<td class="chart period-col" id="spark_1203220"></td>
<td class="num period-col peak-concurrent">293291</td>
<td class="num period-col player-hours">74236229</td>
</tr>
<tr class="odd">
<td>11.</td>
<td class="game-name left">
<a href="/app/440">
						Team Fortress 2
					</a>
</td>
<td class="num">93794</td>
<td class="chart period-col" id="spark_440"></td>
<td class="num period-col peak-concurrent">215509</td>
<td class="num period-col player-hours">93835777</td>
</tr>
<tr>
<td>12.</td>
<td class="game-name left">
<a href="/app/582010">
						Monster Hunter: World
					</a>
</td>
<td class="num">85230</td>
<td class="chart period-col" id="spark_582010"></td>
<td class="num period-col peak-concurrent">162987</td>
<td class="num period-col player-hours">57036808</td>
</tr>
<tr class="odd">
<td>13.</td>
<td class="game-name left">
<a href="/app/431960">
						Wallpaper Engine
					</a>
</td>
<td class="num">83480</td>
<td class="chart period-col" id="spark_431960"></td>
<td class="num period-col peak-concurrent">132225</td>
<td class="num period-col player-hours">56737029</td>
</tr>
<tr>
<td>14.</td>
<td class="game-name left">
<a href="/app/230410">
						Warframe
					</a>
</td>
<td class="num">80596</td>
<td class="chart period-col" id="spark_230410"></td>
<td class="num period-col peak-concurrent">94593</td>
<td class="num period-col player-hours">46521803</td>
</tr>
<tr class="odd">
<td>15.</td>
<td class="game-name left">
<a href="/app/252490">
						Rust
					</a>
</td>
<td class="num">76117</td>
<td class="chart period-col" id="spark_252490"></td>
<td class="num period-col peak-concurrent">190886</td>
<td class="num period-col player-hours">69991111</td>
</tr>
<tr>
<td>16.</td>
<td class="game-name left">
<a href="/app/359550">
						Tom Clancy's Rainbow Six Siege
					</a>
</td>
<td class="num">67292</td>
<td class="chart period-col" id="spark_359550"></td>
<td class="num period-col peak-concurrent">80601</td>
<td class="num period-col player-hours">35013105</td>
</tr>
<tr class="odd">
<td>17.</td>
<td class="game-name left">
<a href="/app/1245620">
						ELDEN RING
					</a>
</td>
<td class="num">61255</td>
<td class="chart period-col" id="spark_1245620"></td>
<td class="num period-col peak-concurrent">99007</td>
<td class="num period-col player-hours">40584710</td>
</tr>
<tr>
<td>18.</td>
<td class="game-name left">
<a href="/app/2073850">
						THE FINALS
					</a>
</td>
<td class="num">58961</td>
<td class="chart period-col" id="spark_2073850"></td>
<td class="num period-col peak-concurrent">143477</td>
<td class="num period-col player-hours">57929172</td>
</tr>
<tr class="odd">
<td>19.</td>
<td class="game-name left">
<a href="/app/236390">
						War Thunder
					</a>
</td>
<td class="num">56378</td>
<td class="chart period-col" id="spark_236390"></td>
<td class="num period-col peak-concurrent">112141</td>
<td class="num period-col player-hours">50367092</td>
</tr>
<tr>
<td>20.</td>
<td class="game-name left">
<a href="/app/289070">
						Sid Meier's Civilization VI
					</a>
</td>
<td class="num">53763</td>
<td class="chart period-col" id="spark_289070"></td>
<td class="num period-col peak-concurrent">76337</td>
<td class="num period-col player-hours">35226886</td>
</tr>
<tr class="odd">
<td>21.</td>
<td class="game-name left">
<a href="/app/2195250">
						EA SPORTS FC™ 24
					</a>
</td>
<td class="num">49182</td>
<td class="chart period-col" id="spark_2195250"></td>
<td class="num period-col peak-concurrent">99591</td>
<td class="num period-col player-hours">32831866</td>
</tr>
<tr>
<td>22.</td>
<td class="game-name left">
<a href="/app/1085660">
						Destiny 2
					</a>
</td>
<td class="num">45167</td>
<td class="chart period-col" id="spark_1085660"></td>
<td class="num period-col peak-concurrent">61460</td>
<td class="num period-col player-hours">31586010</td>
</tr>
<tr class="odd">
<td>23.</td>
<td class="game-name left">
<a href="/app/413150">
						Stardew Valley
					</a>
</td>
<td class="num">44164</td>
<td class="chart period-col" id="spark_413150"></td>
<td class="num period-col peak-concurrent">58773</td>
<td class="num period-col player-hours">28581526</td>
</tr>
<tr>
<td>24.</td>
<td class="game-name left">
<a href="/app/304930">
						Unturned
					</a>
</td>
<td class="num">40858</td>
<td class="chart period-col" id="spark_304930"></td>
<td class="num period-col peak-concurrent">64089</td>
<td class="num period-col player-hours">40594563</td>
</tr>
<tr class="odd">
<td>25.</td>
<td class="game-name left">
<a href="/app/1174180">
						Red Dead Redemption 2
					</a>
</td>
<td class="num">40212</td>
<td class="chart period-col" id="spark_1174180"></td>
<td class="num period-col peak-concurrent">72729</td>
<td class="num period-col player-hours">32312891</td>
</tr>
</tbody>
</table>

In [12]:
top_games = table.find_all('th')
top_games

[<th></th>,
 <th class="left">Name</th>,
 <th>Current Players</th>,
 <th class="period-col" id="topgames-chart-head">Last 30 Days</th>,
 <th class="period-col">Peak Players</th>,
 <th class="period-col">Hours Played</th>]

In [13]:
top_games_titles = [title.text.strip() for title in top_games]

print(top_games_titles)

['', 'Name', 'Current Players', 'Last 30 Days', 'Peak Players', 'Hours Played']

In [14]:
df = pd.DataFrame(columns = top_games_titles)

df

Empty DataFrame
Columns: [, Name, Current Players, Last 30 Days, Peak Players, Hours Played]
Index: []

In [15]:
column_data = table.find_all('tr')
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data
    
df

,,Name,Current Players,Last 30 Days,Peak Players,Hours Played
0,1.,Palworld,916106,,975553,20708377
1,2.,Counter-Strike 2,554431,,1277907,590827390
2,3.,Dota 2,360266,,735855,323498588
3,4.,PUBG: BATTLEGROUNDS,213013,,587152,181360839
4,5.,Baldur's Gate 3,193569,,297492,125379505
5,6.,Apex Legends,147861,,344621,108081433
6,7.,Lethal Company,135483,,203632,79665522
7,8.,Call of Duty®,111468,,141643,69819305
8,9.,Grand Theft Auto V,110349,,273345,101222749
9,10.,NARAKA: BLADEPOINT,108854,,293291,74236229
10,11.,Team Fortress 2,93794,,215509,93835777
11,12.,Monster Hunter: World,85230,,162987,57036808
12,13.,Wallpaper Engine,83480,,132225,56737029
13,14.,Warframe,80596,,94593,46521803
14,15.,Rust,76117,,190886,69991111
15,16.,Tom Clancy's Rainbow Six Siege,67292,,80601,35013105
16,17.,ELDEN RING,61255,,99007,40584710
17,18.,THE FINALS,58961,,143477,57929172
18,19.,War Thunder,56378,,112141,50367092
19,20.,Sid Meier's Civilization VI,53763,,76337,35226886
20,21.,EA SPORTS FC™ 24,49182,,99591,32831866
21,22.,Destiny 2,45167,,61460,31586010
22,23.,Stardew Valley,44164,,58773,28581526
23,24.,Unturned,40858,,64089,40594563
24,25.,Red Dead Redemption 2,40212,,72729,32312891

In [20]:
columns_drop = ['', 'Last 30 Days']
df.drop(columns=columns_drop, axis=1)

                              Name Current Players Peak Players Hours Played
0                         Palworld          916106       975553     20708377
1                 Counter-Strike 2          554431      1277907    590827390
2                           Dota 2          360266       735855    323498588
3              PUBG: BATTLEGROUNDS          213013       587152    181360839
4                  Baldur's Gate 3          193569       297492    125379505
5                     Apex Legends          147861       344621    108081433
6                   Lethal Company          135483       203632     79665522
7                    Call of Duty®          111468       141643     69819305
8               Grand Theft Auto V          110349       273345    101222749
9               NARAKA: BLADEPOINT          108854       293291     74236229
10                 Team Fortress 2           93794       215509     93835777
11           Monster Hunter: World           85230       162987     57036808
12                Wallpaper Engine           83480       132225     56737029
13                        Warframe           80596        94593     46521803
14                            Rust           76117       190886     69991111
15  Tom Clancy's Rainbow Six Siege           67292        80601     35013105
16                      ELDEN RING           61255        99007     40584710
17                      THE FINALS           58961       143477     57929172
18                     War Thunder           56378       112141     50367092
19     Sid Meier's Civilization VI           53763        76337     35226886
20                EA SPORTS FC™ 24           49182        99591     32831866
21                       Destiny 2           45167        61460     31586010
22                  Stardew Valley           44164        58773     28581526
23                        Unturned           40858        64089     40594563
24           Red Dead Redemption 2           40212        72729     32312891